CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
.cache
*.exe
*.obj
*.o

# if you building with Visual Studio
*.VC.db
.vscode/
ALL_BUILD.dir
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cppLearn.sln
cppLearn.vcxproj
cppLearn.vcxproj.filters
ZERO_CHECK.dir
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
x64/
Release